/* Search form styles */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.input-text {
  padding: 1.5rem;
  border: 5px;
  border-radius: 15px;
  font-size: 25px;
  margin-right: 2.5rem;
}

.input-btn {
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  background-color: #007bff;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

/* Search results styles */
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.li {
  margin: 1rem;
  width: 200px;
  border: 1px solid black;
  width: 75%;
  padding: 68px;

}

.a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #007bff;
}

.img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: 50%;
}

@media (min-width:850px) {
  .ul {
    display: block;
    margin-left: 36%;
  }

  .li {
    width: 39%;
    padding: 97px;
  }
}